.container{
    width: 800px;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 20px;
}
.container>div{
    text-align: left;
}
.desc{
    text-indent: 2em;
}
img{
    width: 300px;
    height: 350px;
}