img {
  width: 180px;
  height: 230px;
}

.container {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  width: 200px;
  margin: 10px 10px;
}
