img{
    width: 100px;
    height: 120px;
}
.pic{
    width: 100px;
    margin-left: 10px;
}
.container{
    display: flex;
    margin-top: 10px;
}
.title{
    width: 200px;
    font-size: 18px;
}
.author{
    width: 200px;
    font-size: 14px;
}
.info{
    margin-left: 20px;
}
.time{
    font-size: 14px;
    margin-top: 10px;
}
a{
    color: black
}