*{margin:0;padding: 0;}
body{
    background: #EE8682;
}
.content{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.search{
    width: 307px;
    height: 54px;
    margin-top: 66px;
    border:none;
    position: relative;
    margin-bottom: 10px;
}
.search input{
    position: absolute;
    width: 200px;
    height: 54px;
    border-radius: 30px;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    margin-left: -20px;
    outline: none;
    border: none;
    background-color: #FCEAE8;
    padding-left: 20px;
}
.search button{
    position: absolute;
    width:81px;height: 54px;
    top: 0;
    right: -25px;
    font-size: 14px;
    outline: none;
    border-radius: 12px;
    background: #FCEAE8;
    border: none;
}
img{
    border-radius: 50%;
}
h4{
    margin-top: 10px; 
    margin-bottom: 20px;
}