*{margin:0;padding: 0;}
a{
    text-decoration: none;
    color: #CCCCCC;
}
.wy-center{
    margin-left: auto;margin-right: auto;
}
.top{
    background: #242424;
    width: 100%;
    position: relative;
    line-height: 69px;
}
.top-left{
    width: 750px;
    margin-left: 90px;
    position: relative;
    overflow: hidden;
}
.top a{
    display:inline-block;
    font-size: 14px;
    text-align: center;
    padding:0 20px;margin: 0 -3px;
}
.top a:first-child{
    width: 165px;
    font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, Times New Roman, 'serif';
    color: white;
    border:none;
}
.top img{
    float: left;
    margin-top: 18px;
}
.top-left .active,.top a:not(:first-child):hover{
    background: #000000;color: white;
}
.hot img{
    position: absolute;
    top: 0;right: 16px;
    color: white;background: #C20C0C;
    border: 1px solid #242424;
    border-radius: 10px;
    width: 27px;
    line-height: 15px;text-align: center;
    font-size: 12px;
}
.search{
    position: absolute;
    top: 0;right:140px;
    width: 335px;
}
.search .btn{
    position: absolute;
    left: 0;top: 20px;
    width: 129px;height: 32px;
    border: 1px solid #242424;
    border-radius: 30px;
    padding-left: 30px;
    outline: none;
    background: white;
    overflow: hidden;
}
.search input::-webkit-input-placeholder{
    font-size: 8px;
    color: #9B9B9B;
    margin-top: 2px;
}
.search input{
    position: absolute;
    left: 0;top: 0;
    width: 125px;height: 33px;
    border: none;
    padding-left: 30px;
    outline: none;
}
.search>i:first-child{
    position: absolute;
    left: 10px;top: 4px;
    color: #8B8B8B;
    z-index: 100;
}
.search i:nth-of-type(2){
    position: absolute;
    right: 0;top: 0;
    color: #454545;
}
.search button:nth-of-type(1){
    background: #242424;
    color: #CCCCCC;
    border: 1px solid #454545;
    font-size: 12px;
    border-radius: 30px;
    width: 90px;height: 32px;
    position: absolute;
    left: 175px;top: 20px;
    outline: none;
}
.search button:nth-of-type(1):hover{
    border:1px solid #CCCCCC;
    cursor: pointer;
}
.search button:nth-of-type(2){
    background: #242424;color: #787878;
    border: none;outline: none;
    position: absolute;
    right: 27px;top: 26px;
    width: 30px;
}
.search button:nth-of-type(2):hover{
    color: #8B8B8B;
    text-decoration: underline;
    cursor: pointer;
}
li{
    list-style: none;
}
/* 登录下拉框 */
.drop-down{
    width: 160px;height: 200px;
    background: #2B2B2B;
    position: absolute;
    top: 32px;right:-67px;
    z-index: 150;
    display:none;
}
/* 小三角 */
.drop-down::after{
    content: "";
    display: block;
    width: 0;height: 0;
    position: absolute;
    border: 9px solid transparent;
    border-bottom-color: #2B2B2B;
    left: 50%;top: -18px;
    transform: translate(-50%);
}
.drop-down li{
    line-height: 38px;
    border-bottom: black;
    color: #ADAEAD;
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
}
.drop-down li i{
    font-size: 16px;
    text-align: left;
   margin-right: 15px;
}
.drop-down li:hover{
    background: #333;
    color: white;
    cursor: pointer;
}
.search button:nth-of-type(2):hover .drop-down{
    display: block;
}
.nav{
    width: 100%;
    background:#C20C0C;
}
.nav-content{
    width: 1000px;
    font-size: 14px;
    line-height: 37px;margin-left:315px;
    position: relative;
}
.nav-content a{
    display: inline-block;
    color: white;
    margin-right: 30px;
    text-align: center;
    border: 1px solid #C20C0C;
    border-radius: 30px;
    padding:0 1%;
}
.nav-content a:hover,.nav-content a:nth-child(3){
    display: inline-block;
    background-color: #9B0909;
    border: 1px solid #C20C0C;
    line-height: 20px;
    cursor: pointer;
    border-radius: 30px;
    padding: 0 1%;
}
.nav-content a:first-child::after{
    content: "";
    display: block;
    width: 0;height: 0;
    border: 8px solid transparent;
    border-bottom-color: #C20C0C;
    position: absolute;
    left: 15px;top: -15px;
}
.container{
    background: #F5F5F5;
}
.content{
    width: 982px;height: 2410px;
    background: white;
    border: 1px solid #D3D3D3;
}
.content-nav{
    width: 902px;height: 42px;
    border-bottom: 2px solid #C20C0C;
    margin-top: 40px;
    position: relative;
}
.lang{
    font-size: 23px;
}

.lang button{
    line-height: 29px;width: 92px;
    font-size: 12px;
    background: #F2F2F2;color: #0C73C2;
    text-align: center;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    margin-left: 5px;
}
.lang i{
    font-size: 8px;margin-left: 5px;
}
.content-nav .hot{
    position: absolute;
    top: 5px;right: 0;
    width: 47px;height: 28px;
    background: #C40A0F;color: white;
    border: #D3D3D3;
    border-radius: 5px;
}
.music{
    width: 982px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left: -12px;
}
.music img{
    width: 140px;height: 140px;
}
.music div{
    width: 140px;
    margin-left: 26px;
    position: relative;
    margin-top: 32px;
}
.music p:nth-of-type(1){
    background: #534840;
    width: 120px;line-height: 26px;
    font-size: 12px;
    color: white;
    position: absolute;
    top: 114px;left: 0;
    z-index: 120;
    opacity: 0.7;
    padding-left: 20px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.music p:nth-of-type(2){
    font-size: 14px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music p:nth-of-type(3){
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}
/* .music p:nth-of-type(3) img{
    width: 15px;height: 15px;
    margin-top: 10px;
    display: inline-block;
} */
.pages{
    width: 463px;height: 27px;
    margin-top: 47px;
}
.pages a{
    display: inline-block;
    width: 24px;line-height: 24px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #D3D3D3;
    color: black;
}
.pages .active{
    background:#D90E16;
    color: white;
}
.pages button{
    font-size: 12px;
    background:#F2F2F2;
    border:1px solid #D3D3D3;
    width: 71px;line-height: 24px
}
.pages button i{
    font-size: 8px;
}
.pages .select{
    color: #8B8B8B;
}
.foot{
    background: #F2F2F2;
    height: 150px;
    border-top: 1px solid #D3D3D3;
    margin-top: -1px;
}
.foot-content{
    width: 982px;
    position: relative;
}
.foot .copy{
    margin-top: 15px;
    font-size: 12px;
    line-height: 23px;
}
.foot .copy a,.copy span{
    color: #C0C0C0;
    display: inline-block;
}
.copy p:nth-of-type(1){
    color: #868686;
}
.copy p:nth-of-type(2) span{
    background: #C3C3C3;
    display: inline-block;
    color: black;
    line-height: 15px;
}
.foot .img{
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
}
.foot .img li{
     float: left;
     font-size: 10px;
     margin-left: 35px;
     color: #BDBDBD;
} 
.foot-content img{
    display: block;
    
}
.fixed-top{
    position: fixed;
    right:120px;bottom:162px;
    border: 1px solid #D3D3D3;
    width: 46px;height: 46px;
    text-align: center;
    font-size: 12px;
    color: #656665;
    border-radius: 3px;
}