<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/doAdd" method="POST" role="form">
        <legend>Form title</legend>
    
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" class="form-control" name="name" id="" placeholder="Input field">
        </div>
         <div class="form-group">
            <label for="">性别</label>
            <input type="text" class="form-control" name="age" id="" placeholder="Input field">
        </div>
    
        
    
        <button type="submit" class="btn btn-primary">添加</button>
    </form>
    
</body>
</html>