.center{
    margin: 20px auto;
    text-align: center;
}
.container{
    width: 850px;
}
img{
    width: 100px;height: 150px;
}

th,td{
    padding: 0 30px; 
}
table{
    border: 1px solid#eee;
}
.price{
    width: 100px;
    border: 1px solid #eee;
}
.sum{
    text-align: left;
    font-weight: 700;
}
