*{margin:0;padding:0}
div{
    box-sizing: border-box;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.row::after{
    content: "";
    display: table;
    clear: both;
    /* overflow: hidden; */
}
.row li{
    margin-left: 10px;
}
.container{
    margin-left: 175px;
}
.container li{
    float:left;
}
li{
    list-style: none;
}
.nav{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 18px;
}
a{
    text-decoration: none;
    color:#333;
}
.menu{
    font-size:16px;
    background: #EBEBEB;
    border:1px solid #eee;
    width:1000px;
}
.menu li{
    float: left;
    margin-left:20px;
}
.menu ul{
    margin-top:20px;
}
.menu ul:last-child{
    margin-bottom: 20px;
}
.menu li:nth-child(1) a{
    color:#18BEBE;
}
.menu li a{
    border:2px solid #EBEBEB;
}
.menu li a:hover{
    border:2px solid #FCBA50;
    background: #fff;
} 
.top{
    height:62px;
    background: url('images/logo.png') center no-repeat #18BEBE;
}
.top-nav{
    line-height: 40px;
    /* width:1000px; */
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background:#ebebeb;
    position: relative;
}
.top-nav-left{
    position: absolute;
    left:200px;
    top: 0；
}
.top-nav-left span{
    font-size: 14px;
}
.top-nav-left i{
    color:#18BEBE;
}
.top-nav-center{
    text-align: center;
    margin-left: -60px;
    font-size: 18px;
}
.top-nav-center  a{
    margin-left: 50px;
}
.top-nav-right{
    position: absolute;
    top:0;
    right:180px;
}
.search{
    width:1000px;
    line-height: 54px;
    margin-left: auto;
    margin-right: auto;
    background:#ebebeb;
    height: 54px;
    border:1px solid #EBEBEB;
    position: relative;
    margin-top: 20px;
}
.search-left{
    position: absolute;
    left:0;
    top:0;
    font-size: 15px;
    margin-left: 13.333px;
}
.search-right{
    position: absolute;
    right:50px;
    top:0;
    color:#18BEBE;
    font-size: 20px;
}
.search-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:30px;
    width:240px;
    border-radius: 30px;
    border:1px solid #ebebeb;
    background-color: #fff;
    overflow: hidden;
}
.search-center input{
    width:130px;
    height: 30px;
    position: absolute;
    left:0;
    top:0;
    border: none;
    padding-left:20px;
    outline: none;
}
.search-center button{
    width:60px;
    height:30px;
    border: none;
    outline: none;
    position: absolute;
    right:0;
    top:0;
    background: #fff;
}
button span{
    font-size:14px;
}
.content{
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 10px;
}
.content p{
    margin-top: 230px;
    font-size: 16px;
    margin-left: 15px;
}
.content p:hover{
    color:orange;
}
.content span{
    color:#18BEBE;
    font-size: 18px;
}
.content span:hover{
    color:orange;
}
.content div{
    width:240px;
    height:344px;
    border:1px solid #ebebeb;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
    background: url('images/data_image.png') no-repeat rgb(250, 242, 242) center 18px;
}
.content div:not(:nth-child(4n+4)){
    margin-right:13.33px;
}
.pagination{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
}
.pagination li{
      float: left;
      margin-right: 24px;
      margin-top: 20px;
      font-size: 20px;
      margin-left:-2px;
}
.pagination li:nth-child(1) {
    width:116px;
    height: 30px;
    background-color: #EBEBEB;
    text-align:center;
    line-height: 30px;
    margin-left: 2px;
    font-size: 18px;
}
.pagination li:nth-child(7){
    width:116px;
    height: 30px;
    background-color: #EBEBEB;
    text-align:center;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 45px;
    font-size: 18px;
}
.pagination li a:hover{
    color:orange;
    text-decoration: underline;
}
.pagination input{
    border:1px solid #333;
    width:30px;
    height:30px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn{
    width:65px;
    height: 30px;
    color:white;
    background-color: #FCBA50;
    font-size: 17px;
    border:none;
    margin-left:20px; 
}

.foot{
    width:600px;
    height:130px;
    margin-left: 170px;
    margin-top: 20px;
    background:no-repeat ;
    position: relative;
}
.foot img{
    border:2px solid #bebebe;
    position: absolute;
    top:0;
    left:0;
    margin-left: 20px;
}
.foot li:nth-child(2){
    margin-left: 130px;
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    color:#18BEBE;
}
.foot li:last-child{
    margin-left: 130px;
    font-size: 15px;
    position: absolute;
    margin-top: 50px;
    color:#616161;
}
.nav-bottom{
    background: #515151;
    height: 200px;
    position: relative;
}
.nav-bottom-left img{
    margin-top: 20px;
    height: 40px;
    margin-left: 170px;
}
.nav-bottom-left li:first-child{
    font-size: 15px;
    color: white;
    margin-left: 170px;
    margin-top: 10px;
}
.nav-bottom-left li:last-child{
    font-size:10px;
    color:rgb(224, 218, 218);
    margin-left:170px;
    margin-top:10px;
}
.nav-bottom-center {
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    margin-top: 40px;
    margin-left: 100px;
    color:rgb(224, 218, 218);
}
.row-left{
    float:left;
    margin-left: 500px;
}
.row-right{
    float: left;
    margin-left: 50px;
}
.nav-bottom-center li{
    margin-top: 10px;
    font-size: 8px;
}
.nav-bottom-right{
    position: absolute;
    top:0;
    right:0;
    margin-top: 22px;
    margin-right: 300px;
    color:rgb(224, 218, 218);
    font-size: 8px;
}
.nav-bottom-right li{
    margin-top: 8px;
}
.hr{
    width:1050px;
    border:1px solid #666;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.nav-foot{
    position: relative;
    color: rgb(224, 218, 218);
    font-size: 10px;
}
.nav-foot li:first-child{
    position: absolute;
    top:0;
    left:0;
    margin-left: 170px;
    margin-top: 10px;
}
.nav-foot li:last-child{
    position: absolute;
    top:0;
    right:0;
    margin-right: 250px;
    margin-top: 10px;
}